black==25.1.0
certifi==2025.6.15
GitPython==3.1.44
numpy==1.26.4
packaging==24.2
pandas==2.2.3
peft==0.16.0
plaid-python==34.0.0
playwright==1.53.0
plotly==5.24.1
pytest==8.2.2
pytest-cov==6.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
streamlit==1.39.0
